@{
    ViewBag.Title = "Success";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Register Successful</h1>

         <p class="display-4">You have successfully registered.</p>


    </div>
</body>

